###################################
# Node / React
###################################
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
.env

###################################
# Spring Boot / Maven
###################################
target/
*.class
*.jar
*.war
*.ear
*.db
*.log

# Maven wrapper files to keep
!.mvn/wrapper/maven-wrapper.jar

###################################
# IntelliJ / VS Code / Eclipse
###################################
.idea/
*.iml
*.ipr
*.iws

.vscode/
.project
.classpath
.settings/

###################################
# Operating System files
###################################
Thumbs.db
.DS_Store

###################################
# Docker
###################################
docker-compose.override.yml
*.pid
