name: Build & Push Frontend Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build frontend Docker image
        run: |
          cd frontend
          docker build -t 2300032232/ims-frontend:latest .
          docker tag 2300032232/ims-frontend:latest 2300032232/ims-frontend:${{ github.sha }}

      - name: Push frontend Docker image
        run: |
          docker push 2300032232/ims-frontend:latest
          docker push 2300032232/ims-frontend:${{ github.sha }}
